@import '../_styles.scss';

:global(#root) :local {
	.navmenu {
		border-radius: 0;
		height: 100%;
		font-size: 1.2em;
	}
	
	.item {
		border-radius: 0;
	
		&:global(.active) {
			color: $primary-color !important;
	
			&:hover {
				color: $primary-color !important;
			}
		}
	}
}
