$primary-color: #6ea7f1;
$secondary-color: #2c3e50;
$accent-color: #0762c8;
$bg-color: #f2f2f2;
$gray-bbb: #222;
$gray-bb: #444;
$gray-b: #666;
$gray: #888;
$gray-w: #aaa;
$gray-ww: #ccc;
$gray-www: #eee;

$ui-red: #db2828;
$ui-orange: #f2711c;
$ui-green: #21ba45;
$ui-blue: #2185d0;
$ui-gray: #767676;

$bp-xlg: 1920px;
$bp-lg: 1400px;
$bp-md: 1024px;
$bp-sm: 768px;
$bp-xs: 425px;

$fontFamilyText: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$fontFamilyHeadings: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;


@mixin invisible {
	visibility: hidden !important;
}

@mixin nodisplay {
	display: none !important;
}

@mixin transition($prop, $duration: 0.2s) {
	transition: $prop $duration ease;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin atLeast($point) {
	@media (min-width: $point) {
		@content;
	}
}

@mixin atMost($point) {
	@media (max-width: $point) {
		@content;
	}
}
