@import '../_styles.scss';
$sidebar-width: 250px;

.page {
	margin: 0;
	font-size: 1.2em;

	@media print {
		background-color: #fff;
	}
}

.pageWrapper {
	margin:0;
}

.pageContent {
	margin: 0 !important;
	margin-left: $sidebar-width !important;
	@media print {
		margin-left: 0 !important;
	}
}


.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sidebar-width;
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1;

	@media print {
		display:none;
	}
}


.breadcrumbs {
	margin: 0;
	padding: 1.1rem;
	border-bottom: 3px solid $primary-color;

	.breadcrumb a {
		color: $primary-color;
	}

	.right.angle.divider.icon {
		color: #000;
	}
}