@import './components/styles';
@import './components/utils';


@media print {
	.hideprint {
		display: none !important;
	}
}

body {
	background-color: #eee;
}

#root {
	min-height: 100vh;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	th,
	.ui.header {
		font-family: $fontFamilyHeadings;
		&.ui.header {
			font-family: $fontFamilyHeadings;
		}
	}

	p,
	span,
	em,
	strong,
	td,
	a,
	label,
	li,
	textarea,
	input,
	.ui.input input,
	.ui.menu,
	.ui.form,
	.ui.form .ui.input input,
	.ui.button {
		font-family: $fontFamilyText;
	}

	.segment.padded > .ui.ribbon.label {
		left: calc(-1rem - 1.5rem);
		margin-right: -1.5rem;
		padding-left: calc(1rem + 1.5rem);
		padding-right: 1.5rem;
	}

	.subdued {
		color: #888;

		&.statistic {
			.value, .label {
				color: #aaa;
			}
		}
	}

	
}

.ui.segment.tab {
	padding: 0;
	border: 0;
	border-radius: 0;
}

.table td {
	&.active-search {
		background-color: rgba(29, 153, 29, 0.541);
		color: white;
	}
	&.alert {
		background-color: rgba(240, 97, 53, 0.705);
		color: white;
	}
	&.disabled {
		background-color: rgba(160, 160, 160, 0.707);
	}
}

.modal .fields {
	align-items: end;
}

.fields.centered {
	justify-content: center;
	align-items: center;
}

.field.centered {
	text-align: center;
}
